# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [1]:
def add_two(x):
    return x+2
print(add_two)

<function add_two at 0x0000024CF6B7A5C0>

In [2]:
# lambda param: one-line function
lambda x: x+2

In [4]:
add_two(10)

12

In [6]:
# IIFE - Immediately Invoked Function Expression
# Execute a lambda function immediately after defining the function
# Syntax: (lambda param: expression)(arg)
(lambda x: x+2)(10)

12

#### Saving to a Variable

In [8]:
num=25

num_plus_two=(lambda x: x+2)(num)

print(num_plus_two)

27

In [9]:
named_lambda=lambda y: y**2
named_lambda(5)

25

#### Multiple Inputs

In [10]:
# Syntax: lambda param1, param2, etc: expression
lambda x, y, z: x*y*z

In [11]:
# As an IIFE - (lambda param1, param2, etc: expression)(arg1, arg2, etc.)
(lambda x, y, z: x*y*z)(2, 3, 4)

24

In [12]:
def accept_args(*args):
    return args
accept_args(1, 2, 3, 4)

(1, 2, 3, 4)

In [15]:
(lambda *args: args)('a', 'b', 'c')

('a', 'b', 'c')

In [17]:
(lambda **kwargs: kwargs)(name='Zach', age=32, city='Tallahassee')

{'name': 'Zach', 'age': 32, 'city': 'Tallahassee'}

In [19]:
def some_function(nums):
    output=[]
    for num in nums:
        if num%2==0:
            output.append(num)
    return output

In [21]:
(lambda nums: [num for num in nums if num %2==0])([1, 2, 3, 4, 5, 6])

[2, 4, 6]

#### Passing a Function into a Function

In [22]:
def apply_to_each(a_list, f):
    """print the return value of function f applied to every element on the list
"""
    for element in a_list:
        f_return=f(element)
        print(f_return)

In [23]:
def get_first_letter(string):
    return string[0]

In [25]:
list_of_seasons = ['Winter', 'Spring', 'Summer', 'Fall']

In [26]:
apply_to_each(list_of_seasons, get_first_letter)

W
S
S
F

In [31]:
def reverse_string(string):
    return string[::-1]

In [32]:
apply_to_each(list_of_seasons, reverse_string)

retniW
gnirpS
remmuS
llaF

#### Passing a Lambda into a Function

In [34]:
# Call the apply_to_each function, pass in a lambda function as f argument
apply_to_each(list_of_seasons, lambda season: season.upper())

WINTER
SPRING
SUMMER
FALL

In [36]:
apply_to_each([5, 10, 15, 20, 25, 30], lambda num: num **2 if num % 2 == 0 else num *2)

10
100
30
400
50
900

In [38]:
def double_or_square(num):
    if num % 2 == 0:
        return num ** 2
    else:
        return num *2
apply_to_each([5, 10, 15, 20, 25, 30], double_or_square)

10
100
30
400
50
900

#### Returning a Function from a Function

In [41]:
def my_outer_function(name):
    print(f"Hello, {name}")
          
    def my_inner_function():
          city='Chicago'
          print(f"This is the inner function {name} from {city}")
    my_inner_function()
          
my_outer_function('Brian')

Hello, Brian
This is the inner function Brian from Chicago

In [42]:
my_outer_return=my_outer_function('Sarah')

Hello, Sarah
This is the inner function Sarah from Chicago

In [43]:
def my_outer_function2(name):
    print(f"Hello, {name}")
          
    def my_inner_function():
          city='Chicago'
          print(f"This is the inner function {name} from {city}")
    return my_inner_function

In [45]:
my_outer_return2=my_outer_function2('Brian')

Hello, Brian

In [47]:
my_outer_return2()

This is the inner function Brian from Chicago

In [49]:
def create_multiplier(num):
    def multiply(x):
        return num*x
    return multiply
five_times=create_multiplier(5)
five_times(5)

25

In [51]:
three_times=create_multiplier(3)
three_times(3)

9

In [53]:
equals_line=create_multiplier('=')
equals_line(50)

'=================================================='

#### Returning a Lambda from a Function

In [54]:
def new_multiplier(num):
    return lambda x: num*x
four_times=new_multiplier(4)
four_times(10)

40

In [55]:
four_times(5)

20

#### If Statements within Lambdas

In [58]:
def double_or_square(num):
    if num % 2 == 0:
        return num ** 2
    else:
        return num *2
print(double_or_square(10))
print(double_or_square(12))

100
144

In [59]:
# Ternary: value_if_true if condition else value_if_false
def double_or_square(num):
    return num==2 if num%2==0 else num*2

In [ ]:
(lambda num: num**2 if nume%2==0 else: num*2)

#### In-Class Exercise #1 <br>
<p>Write a lambda function that takes in three arguments <code>a</code>,<code>b</code>,<code>c</code> and returns the product of <code>a</code> and the difference of <code>b</code> and <code>c</code></p>

In [61]:
# Example 1 
# a = 10, b = 5, c = 2
# Output: 30

# Example 2
# a = 20, b = 10, c = 5
# Output: 100

In [67]:
(lambda a,b,c: a*(b-c))(10, 5, 2)

30

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

In [72]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

#### Syntax

In [76]:
def squared_minus2(num):
    return num**2-2
numbers=[3, 6, 9, 1, 2]
new_nums=[]
for num in numbers:
    new_num=squared_minus2(num)
    new_nums.append(new_num)
print(new_nums)

[7, 34, 79, -1, 2]

In [81]:
# map(function, *iterables -> List, Tuple, String, Set, Dictionary, etc)
my_map_obj=map(squared_minus2, numbers)
print(my_map_obj)

<map object at 0x0000024CFC47B5E0>

In [82]:
next(my_map_obj)

7

In [83]:
for num in my_map_obj:
    print(num)

34
79
-1
2

In [84]:
for num in my_map_obj:
    print(num)

In [87]:
x_values=[1, 2, 3, 4, 5]
y_values=[10, 20, 30, 40, 50]
def multiply(x, y):
    return x*y
list(map(multiply, x_values, y_values)

SyntaxError: incomplete input (669385634.py, line 5)

In [89]:
x_values2=[1, 2, 3, 4, 5, 6, 7, 8 , 9]
y_values2=[10,20,30,40,50,60,70,80,90]
list(map(multiply, x_values2, y_values2))

[10, 40, 90, 160, 250, 360, 490, 640, 810]

In [97]:
nums_mult=[]
shorter = len(x_values2) if len(x_values2)<len(y_values2) else len(y_values2)
for i in range(shorter):
    nums_mult.append(multiply(x_values2[i], y_values2[i]))
    
print(nums_mult)

[10, 40, 90, 160, 250, 360, 490, 640, 810]

#### Using Lambda's with Map

In [94]:
letters=['a', 'b','c','d','e']
upper_letters=list(map(lambda l: l.upper(), letters))
print(upper_letters)

['A', 'B', 'C', 'D', 'E']

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number if it is even and halve it if it is odd</p>

In [104]:
numbers = range(1,11)
def double_or_half(number):
    if number%2==0:
        return number*2
    else:
        return number/2
new=list(map(double_or_half, numbers))
print(new)

# print(list(map(double_or_half, numbers)))
# [0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5, 20]

[0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5, 20]

In [105]:
new2=list(map(lambda num: num*2 if num%2==0 else num/2, numbers))
print(new2)

[0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5, 20]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

In [106]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

#### Syntax

In [107]:
names = ['Bob', 'Billy', 'Alex', 'Barbara', 'Amy', 'Andy', 'Catherine', 'Cameron']

def starts_with_a(name):
    return name[0]=='A'
a_names_map=list(map(starts_with_a, names))
print(a_names_map)

[False, False, True, False, True, True, False, False]

In [108]:
# Syntax: filter(function_to_apply, iterable -> List,Tuple,Set,Dict,String,etc)
a_names_filter=list(filter(starts_with_a, names))
print(a_names_filter)

['Alex', 'Amy', 'Andy']

In [109]:
nums= [num for num in range(1, 11)]
def remainder(num):
    return num%3
remainder(11)

2

In [111]:
nums_map=list(map(remainder, nums))
print(nums_map)

[1, 2, 0, 1, 2, 0, 1, 2, 0, 1]

In [112]:
nums_map=list(filter(remainder, nums))
print(nums_map)

[1, 2, 4, 5, 7, 8, 10]

#### Using Lambda's with Filter()

In [113]:
b_names=list(filter(lambda name: name[0].upper()=='B', names))
print(b_names)

['Bob', 'Billy', 'Barbara']

In [114]:
sentence="I live a 123 Real Street, City, State, 58583. My number is (555)555-4321"
digits=list(filter(lambda char: char.isdigit(), sentence))
print(digits)

['1', '2', '3', '5', '8', '5', '8', '3', '5', '5', '5', '5', '5', '5', '4', '3', '2', '1']

#### In-Class Exercise #3 <br>
<p>Write a function that takes in a list of cities as strings and returns a list of cities with at least two words in the name</p>

In [122]:
cities = ['Chicago', 'Los Angeles', 'New York City', 'Miami', 'Oklahoma City', 'Baton Rouge', 'Boston', 'Denver']
print(list(filter(lambda city: ' ' in city, cities)))
# Output: [Los Angeles', 'New York City', 'Oklahoma City', 'Baton Rouge']

['Los Angeles', 'New York City', 'Oklahoma City', 'Baton Rouge']

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

In [124]:
from functools import reduce
help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, iterable[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence
    or iterable, from left to right, so as to reduce the iterable to a single
    value.  For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the iterable in the calculation, and serves as a default when the
    iterable is empty.

In [126]:
def add_nums(x, y):
    print(f"x: {x}\ny: {y}\nReturns {x+y}")
    return x+y

In [127]:
results_add=reduce(add_nums, [1, 2, 3, 4, 5])
print(results_add)

x: 1
y: 2
Returns 3
x: 3
y: 3
Returns 6
x: 6
y: 4
Returns 10
x: 10
y: 5
Returns 15
15

#### Using Lambda's with Reduce()

In [130]:
def find_max(a, b):
    print(f"a: {a}\nb: {b}\nreturns: {a if a>b else b}")
    return a if a>b else b

In [131]:
from random import randint
nums=[randint(1,50) for i in range(10)]
max_val=reduce(find_max, nums)
print(max_val)

a: 19
b: 12
returns: 19
a: 19
b: 20
returns: 20
a: 20
b: 33
returns: 33
a: 33
b: 1
returns: 33
a: 33
b: 42
returns: 42
a: 42
b: 6
returns: 42
a: 42
b: 35
returns: 42
a: 42
b: 14
returns: 42
a: 42
b: 5
returns: 42
42

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

In [132]:
nums = [2, 4, 6, 8, 10]
# Output: 3840

def multiply(x, y):
    return x*y

In [133]:
mults=reduce(multiply, nums)
print(mults)

3840

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

In [134]:
def capitalize(name):
    # Takes in a name, upper case the first letter and lower case the rest
    return name[0].upper() + name[1:].lower()

def full_name(first, last):
    # take in a first name, capitalize the first name, take in a last name, capitalize the last name and 
    # then returns the concatenated string of first + space + last
    return capitalize(first) + ' ' + capitalize(last)


def greet_person(first_name, last_name, day_of_week):
    person_full_name = full_name(first_name, last_name)
    print(f"Hello {person_full_name}, it sure is beautiful on this {capitalize(day_of_week)}")
    
greet_person('bRIaN', 'stANtOn', 'tUEsdaY')

Hello Brian Stanton, it sure is beautiful on this Tuesday

In [136]:
import time

def func_one():
    print("Function One Started")
    time.sleep(5)
    print("Function One Ended")
    
    
def func_two():
    print("Function Two Started")
    func_one()
    print("Function Two Ended")
    
    
func_two()

Function Two Started
Function One Started
Function One Ended
Function Two Ended

#### Implementing a Base Case

In [140]:
def add_nums(num):
    if num<=1:
        print(f"add_nums({num})={num}")
        return num
    else:
        print(f"add_nums({num})= {num} + add_nums({num-1})")
        return num+add_nums(num-1)
add_nums(10)

add_nums(10)= 10 + add_nums(9)
add_nums(9)= 9 + add_nums(8)
add_nums(8)= 8 + add_nums(7)
add_nums(7)= 7 + add_nums(6)
add_nums(6)= 6 + add_nums(5)
add_nums(5)= 5 + add_nums(4)
add_nums(4)= 4 + add_nums(3)
add_nums(3)= 3 + add_nums(2)
add_nums(2)= 2 + add_nums(1)
add_nums(1)=1

55

In [143]:

def is_even(number):
    if number==1:
        return False
    elif number==0:
        return True
    else:
        return is_even(number-2)
is_even(11)

False

In [ ]:
#Can be used as a way of looping

In [144]:
def loop(a_list):
    if a_list:
        print(a_list[0])
        loop(a_list[1:])
loop(['red', 'orange', 'green', 'blue', 'red'])

red
orange
green
blue
red

#### Writing a Factorial Function

In [146]:
# 5! = 5 * 4!
# 4! = 4 * 3!
# ...
# 1! = 1

#Factorial(x)=x*factorial(x-1)

def factorial(x):
    if x<=1:
        return 1
    else:
        return x*factorial(x-1)
    
factorial(5)

120

In [ ]:
#def factorial(x):
#    return x*factorial(x-1)
# This will break the kernal

In [ ]:
#needs a base case

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

In [147]:
length=map(len, ['Brian', 'Stanton', 'Coding Temple', 'Instructor'])
print(length)

<map object at 0x0000024CFC4808E0>

In [148]:
length[0]

TypeError: 'map' object is not subscriptable

In [149]:
for item in length:
    print(item)

5
7
13
10

In [151]:
for item in length:
    print(item)

In [152]:
help(iter)

Help on built-in function iter in module builtins:

iter(...)
    iter(iterable) -> iterator
    iter(callable, sentinel) -> iterator

    Get an iterator from an object.  In the first form, the argument must
    supply its own iterator, or be a sequence.
    In the second form, the callable is called until it returns the sentinel.

In [154]:
greetings_list=['hi', 'hello', 'hola', 'bonjour', 'hello', 'salutations', 'aloha', 'salud']

list_iter=iter(greetings_list)
print(list_iter)

<list_iterator object at 0x0000024CFC481A20>

In [163]:
next(list_iter)

StopIteration:

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [181]:
def my_range_iter(start, stop, step=1):
    while start<stop:
        yield start
        start+=step

my_gen=my_range_iter(0, 10)
print(my_gen)

<generator object my_range_iter at 0x0000024CFDD40380>

In [193]:
next(my_gen)

StopIteration:

In [194]:
for yielded_val in my_range_iter(10, 20):
    print(yielded_val)

10
11
12
13
14
15
16
17
18
19

In [195]:
for val in my_range_iter(0,1000,50):
    print(val)

0
50
100
150
200
250
300
350
400
450
500
550
600
650
700
750
800
850
900
950

In [197]:
def read_file(filename):
    with open(filename) as large_file:
        for line in large_file:
            yield line
file=read_file('whiteboard.py')

In [198]:
for line in file:
    print(line)

# You need to write a function, that returns the first non-repeated character in the given string.



# If all the characters are unique, return the first character of the string.

# If there is no unique character, return None.



# You can assume, that the input string has always non-zero length.



# Examples

# "test"   returns "e"

# "teeter" returns "r"

# "trend"  returns "t" (all the characters are unique)

# "aabbcc" returns None (all the characters are repeated)

import re

def solution(string_in):

    no_repeat=re.compile('[A-Za-z]?')

    for char in string_in:

        if no_repeat.findall(char)==False:

            return None

        elif no_repeat.findall(char):

            return char

# solution()

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [7]:
import re
alphabet=r'[A-Za-z]'
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]
def list_filter(place):
    return place.strip()
filter_places=list(filter(list_filter, places))
print(filter_places)

['Argentina', 'San Diego', 'Boston', 'New York']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...(case insensitive)<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [13]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield", "David hassELHOFF", "Gary A.J. Bernstein"]
# for name in author:
#     print(author.sort(key=name.split(' ')[1]))


sorted_authors=sorted(author, key=lambda name: name.split()[-1].lower())
print(sorted_authors)

['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']

In [201]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [203]:
cities=["Chicago", "New York City", "Miami"]
cities2=sorted(cities, key=len)
print(cities2)

['Miami', 'Chicago', 'New York City']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]
`

In [19]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angeles",44),("Miami",29)]
# def fahrenheit(place):
#     return place
# print(map(lambda place: (9/5)*place[1]+32), places)

In [51]:
# def farhenheit(cw):
#     lambda cw: (9/5)*cw[1]+32
print(list(map(lambda cw: (cw[0], (9/5)*cw[1]+32), places)))

[('Nashua', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

```
Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8
```

In [30]:
def fib(num):
    if num<2:
        return num
    else:
        return fib(num-1)+fib(num-2)

In [31]:
n = 6

for i in range(n):
    print(f"Iteration {i}: {fib(i)}")

Iteration 0: 0
Iteration 1: 1
Iteration 2: 1
Iteration 3: 2
Iteration 4: 3
Iteration 5: 5

### Exercise #5<br>
<p>Create a generator that takes a number argument and yields that number squared down to zero, then call the generator and iterate through and print the result.</p>

In [46]:
def generator(num):
    while num>=0:
        yield num**2
        num=num-1
for i in generator(10):
    print(i)
# 100
# 81
# 64
# 49
# 36
# 25
# 16
# 9
# 4
# 2
# 1
# 0

100
81
64
49
36
25
16
9
4
1
0